/* Estilos generales */
:root{
  --text: #eef0f2;
  --background: #030303;
  --primary: #66727f;
  --secondary: #413947;
  --accent: #705b71;

  --start-color: #3e9c41;
  --restart-color: #25b4d8;
  --texthover-color: #ffffff;

  --danger-level-8: #ff0000;
  --danger-level-7: #ff6600;
  --danger-level-6: #ffcc00;
  --danger-level-5: #99ff00;
  --danger-level-4: #33cc33;
  --danger-level-3: #00cc66;
  --danger-level-2: #00cc99;
  --danger-level-1: #00ccff;

  --gameover-color: #00000091;
}

*{
  user-select: none;
  box-sizing: border-box;
}

.hidden{
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.mine{
  background-color: var(--danger-level-8) !important;
}

.danger-level-8{
  color: var(--danger-level-8) !important;
}

.danger-level-7{
  color: var(--danger-level-7) !important;
}

.danger-level-6{
  color: var(--danger-level-6) !important;
}

.danger-level-5{
  color: var(--danger-level-5) !important;
}

.danger-level-4{
  color: var(--danger-level-4) !important;
}

.danger-level-3{
  color: var(--danger-level-3) !important;
}

.danger-level-2{
  color: var(--danger-level-2) !important;
}

.danger-level-1{
  color: var(--danger-level-1) !important;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
#gameWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#mainWrapper h1{
  text-align: center;
  font-size: 2.8rem;
  width: fit-content;
  margin: 1rem auto;
}

/* Configuracion del juego */
#configWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#configWrapper .inputElement{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* inputs */
.inputElement input{
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
}

.inputElement input:focus{
  outline: none;
}

/* Etiquetas */
.inputElement label{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Controles del juego */
#controlWrapper{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* botones */
.button{
  transition: background-color 0.3s ease,
              color 0.3s ease;
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
}

#btnStart.button:hover{
  background-color: var(--start-color);
  color: var(--texthover-color);
}

#btnReset.button:hover{
  background-color: var(--restart-color);
  color: var(--texthover-color);
}

/* Tablero */
#gameBoard{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#gameBoard .row{
  display: flex;
}

#gameBoard .row .cell{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  color: var(--text);
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid var(--secondary);
}

#gameBoard .row .cell::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
}

#gameBoard .row .cell.game-over::after{
  background-color: var(--gameover-color);
}

#gameBoard .row .cell.clicked::after{
  content: '';
  background-color: #ffffff00;
}

#gameBoard .row .cell.flag:not(.clicked):after{
  display: flex;
  justify-content: center;
  align-items: center;
  content: '🚩';
}